.funktioValikko {
    background-color: grey;
}



header {
    font-weight: bold;
    font-size: xx-large;
    border-width: 1px;
    border: 5px;
    border-style: solid;
    text-align: center;
}

.muunnaNappi {
    padding: 15px 20px;
    border-radius: 50%;
    transition-duration: 200ms;
}

.muunnaNappi:hover {
    background-color: rgb(226, 226, 255);
    color: white;
}

